<section class="new-training" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card
      class="mat-elevation-z5"
      fxFlex.lt-sm="120%"
      fxFlex.sm="400px"
      fxFlex="400px"
    >
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field
          *ngIf="!(isLoading$ | async) && (exercises$ | async)"
          hideRequiredMarker
        >
          <mat-label>Choose Exercise</mat-label>

          <mat-select name="exercise" ngModel required>
            <mat-option
              *ngFor="let exercise of (exercises$ | async)"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>

          <mat-error>This field must not be empty!</mat-error>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
      </mat-card-content>

      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button
          *ngIf="(exercises$ | async)"
          type="submit"
          [disabled]="f.invalid || f.pristine"
          mat-raised-button
          color="primary"
        >
          Start
        </button>
        <button
          *ngIf="!(exercises$ | async)"
          type="button"
          (click)="fetchExercises()"
          mat-raised-button
          color="primary"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
